.center-block{
	float:none;
}

.alphabet-letter-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.alphabet-letter-block:hover{
	background-color: white;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 255, 0.2);
}

.alphabet-list-element:hover{
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -15px;
	background-color: rgba(0,90,180, 0.1);
}


.letter-big{
	font-size: 1000%;
	font-weight: lighter;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -2.5%;
}

.letter-small{
	margin-left: 1vw;
	font-size: 800%;
	font-weight: lighter;
	display: inline-block;
}

.letter-list{
	line-height: 1.9em;
	padding-left: 0;
	list-style: none;
	font-size: 130%;
}

.top{
	margin-top: 50px;
}

.logo-area{
	letter-spacing: 1vw;
}

.phrase-list{
	line-height: 1.7em;
	padding-left: 0;
	list-style: none;
}

.phrase{
	font-weight: bold;
}

.logo{
	font-size: 800%;
	line-height: 1.2em;
	font-family: arial, sans-serif;
	font-weight: bold;
	text-align: center;
}

#cursor {
	font-family: "Helvetica Neue";
	font-weight: 100;
	position: relative;
	top: -10px;
	animation: blink-animation 1s steps(2, start) infinite;
	-webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


#cursor{
	/*font-weight: lighter;*/
}

.phrases{
	margin-top: 50px;
	background-color: rgba(180, 180, 180, 0.2);
	width: 100%;
/*	padding-left: 20%;
	padding-right: 20%;*/
	padding-bottom: 100px;
}

.phrases-header{
	text-align: center;
	font-size: 800%;
	font-weight: lighter;
	margin-top: 50px;
	margin-left: -15px;
	letter-spacing: 10px;
}

.phrase-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	/*padding-left: -15%;*/
}

.explainer-block{
	margin-top: 25px;
}

.explainer{
	text-align: center;
}

.center-block{
	float:none;
}	

.made-by{
	margin-top:25px;
	text-align: center;
	margin-bottom: 25px;
}

.language-selector{
	margin-top: -25px;
	text-align: center;
	letter-spacing: 0.2vw;
	margin-bottom: 50px;
}

.sharing-block{
	text-align: center;
}

.addthis_native_toolbox{
	display: inline-block;
}

.addthis_native_toolbox a{
	border-bottom: 0;
	text-align: center;
}

.footer{
	margin-top: 50px;
}

a{
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 255, 0.2);
}

a:hover, a:active, a:visited, a:focus{
	text-decoration: none;
}

.link-text{
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 255, 0.2);
}
