.letter-big{
	font-size: 1000%;
	font-weight: lighter;
	text-transform: uppercase;
		display: inline-block;

}

.letter-small{
	margin-left: 1vw;
	font-size: 800%;
	font-weight: lighter;
	display: inline-block;
}

.alphabet-letter-block{
	margin: auto;
}

.logo-area{
	letter-spacing: 1vw;
}

.suggest-image{
	float:right;
	width: 5vw;
	height: auto;
	/*margin-bottom:0;*/
	/*display:none;*/
}

.suggest-url{
	/*display: inline-block;*/
}